<div class="container">
    <mat-card>
        <form [formGroup]="itemObj.itemFGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-3">
                    <h2>Add New Device</h2>
                </div>
                <div class="col-2 offset-7">
                    <h2>ID: </h2>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label>Device Name / Model</label>
                    <input class="form-control" formControlName="cItemCheck" id="deviceName" 
                    placeholder="Enter Name / Model of the Device" name="itemName">
                  </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div *ngIf="itemObj.itemFGroup.controls['cItemCheck'].dirty" 
                        [hidden]="!(itemObj.itemFGroup.controls['cItemCheck'].hasError('required'))"
                        style="text-align: center; color:red"><b>Item Name is required</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button mat-raised-button [disabled]="!(itemObj.itemFGroup.valid)" color="primary" >Submit</button>
                </div>
                <div class="col-2">
                    <button mat-raised-button color="warn" routerLink="/">Back</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>


