<!-- <div class="container">
    <mat-card>
        <form class="example-form">
            <div class="row">
                <div class="col-3">
                    <h2>Add New Device</h2>
                </div>
                <div class="col-2 offset-7">
                    <h2>ID: {{itemobj.itemId}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label>Device Name / Model</label>
                    <input type="text" class="form-control" id="deviceName" placeholder="Enter Name / Model of the Device"
                    name="itemName"[(ngModel)]="itemobj.itemName">
                  </div>
            </div>
            <button mat-raised-button color="warn" (click)="onSubmit()">Submit</button>
        </form>
    </mat-card>
</div> -->
