<div class="container pageContainer h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="card loginCardFrame">
        <div class="container">
          <form class="form-signin">
            <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>
            <label for="userName">User Name</label>
            <div class="form-label-group">
              <input
                type="text"
                id="userName"
                class="form-control"
                placeholder="Enter User Name"
                required
                autofocus
              />
            </div>
            <br />
            <label for="password">Password</label>
            <div class="form-label-group">
              <input
                type="password"
                id="password"
                class="form-control"
                placeholder="Enter Password"
                required
              />
            </div>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Sign in
            </button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
