<div class="container">
    <mat-accordion >
        <!-- items is the tag set in json -->
        <mat-expansion-panel *ngFor="let item of itemList.items">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{item.itemId}}
            </mat-panel-title>
            <mat-panel-description>
                {{item.itemName}} Placeholder for serialnumber for now
            </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the details for the item</p>
            <button mat-button class="float-right" color="primary" (click)="editItem(item)">Edit Item</button>
            <button mat-button class="float-right" color="primary" (click)="deleteItem(item)">Delete Item</button>
        </mat-expansion-panel>
    </mat-accordion>
      
</div>